@import "./_getBootstrap.scss","./getBootstrapComponents" ;

// 4. Include any optional components as you like

@import "./abstracts/mixin", "./abstracts/helper";
@import  "./base/normalize", "./base/typography";

//  @import "./components/scroll-bar", "./components/cta", "./components/ribbon";

 main{
   min-height: 100%;
   width: 100%;
   padding-bottom: 150px;
 }