$fa : normal normal normal 14px/1 FontAwesome;
$icon-font : normal normal normal 16px/1 iconFont;
$base-color : #323232;
$brand:  #E26A2C;
$brand-dark: #c1521a;
$anchor-color: #E26A2C;
$brand-secondary :#efbc9B;
$facebook: #3b5998;
$twitter: #00acee;
$google:#34A853;
$black: #212544;
$white: #fff;
$sidebar-width : 290px;
$sidebar-width-collapse : 76px;
$device-xs-all: #{"only screen and (max-width: 767px)"};
$device-xxs: #{"only screen and (max-width: 410px)"};
$device-xs: #{"only screen and (min-width: 410px) and (max-width: 767px)"};
$device-sm: #{"only screen and (min-width: 767px) and (max-width: 991px)"};
$device-md: #{"only screen and (min-width: 992px) and (max-width: 1025px)"};
$device-lg: #{"only screen and (min-width: 1026px) and (max-width: 1370px)"};
$device-xl: #{"only screen and (min-width: 1371px) and (max-width: 1699px)"};
$device-xxl: #{"only screen and (min-width: 1700px) and (max-width: 2400px)"};