* {
    padding: 0;
    margin: 0;
    &:focus{
      outline: none !important;
    }
  }

  body {
    color: #323232;
    font-family: 'Work Sans', sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
  }