h1 {
    border: 1px solid red;

    &:hover {
        border-color: green;
    }
}

h2 {
    border: 1px solid red;

    &:hover {
        border-color: green;
    }
}

h3 {
    border: 1px solid red;

    &:hover {
        border-color: green;
    }
}

h4 {
    border: 1px solid red;

    &:hover {
        border-color: green;
    }
}

h5 {
    border: 1px solid red;

    &:hover {
        border-color: green;
    }
}

h6 {
    border: 1px solid red;

    &:hover {
        border-color: green;
    }
}


